.input {
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  font-size: xx-large;
  height: 100%;  
}

.input-row {
  height: 100px;
}

.input-field {
  width: 100%;
  height: 100%;
}

.key-div {
  height: 100%;
}

.table {
  width: 300px;
}

.key {
  width: 100%;
  height: 100%;
}

table {
  background-color: blue;
  height: 300px;
}

tr {
  background-color: red;
}

td {
  background-color: green;
  width: 33%;
  
}